*{
    text-align: center;
}
#container{
    height: 40vh;
    width: 15vw;
    border: 2px solid black;
    position: relative;
    left: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* flex-wrap: wrap; */
}
div{
    height: 50px;
    width: 50px;
}
#item1{
    background-color: blue;
    flex-shrink: 3;
}
#item2{
    background-color: rgb(11, 145, 122);
    flex-shrink: 3;
}
#item3{
    background-color: rgb(145, 255, 0);
    /* flex-grow: 1; */
}
#item4{
    background-color: rgb(255, 0, 157);
}
#item5{
    background-color: rgb(255, 238, 0);
    /* align-self: flex-start; */
}


#outside{
    width: 240px;
    height: 240px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inside{
    width: 200px;
    height: 200px;
    background-color: rgb(211, 126, 126);
}
